---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>My Blog</h1>
    <h2>Discover More!!</h2>

    <h4>FrontEnd Dev</h4>

    <p>Discover the dev journey</p>
    <h4>BackEnd Dev</h4>

    <p>Discover the dev journey</p>
  </body>
</html>
